/*botões customizados*/

.btn-primary {
  @apply inline-flex items-center justify-center rounded-md border border-transparent bg-gray-700 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2;
}

.btn-secondary {
  @apply inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
}

.btn-tertiary {
  @apply inline-flex items-center rounded-md border border-gray-300 bg-red-100 px-4 py-2 text-sm font-medium text-red-600 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-red-300 focus:ring-offset-2;
}

/* Estilos para ícones em botões (se usar) */
.btn-icon {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}